/* * {
    padding-right: 5px;
    padding-left: 5px;
} */

@media (min-width: 480px) {
    .centre {
        float: right;
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .name {
        text-align: center;
    }
}
.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-bottom: 30px;
}

.name {
    text-align: left;
    padding-top: 30px;
    font-size: 62px;
    font-weight: 200;
    margin-left: 30px;
}

.name-2 {
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
}

.intro {
    background-attachment: fixed;
    background-color: #E5E5E5;
    background-image: url(/Portfolio/images/Background.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.learning {
    position: relative;
    /* padding-top: 30px;
    left:0;
    right:0;
 */
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.education {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.hobbies {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.work {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.skills {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

.contact {
    position: relative;
    height: 100vh;
    max-width: 100%;
    margin: 0;
}

body {
    background: #E5E5E5;
    padding: 0;
    margin: 0;
}
hr {
    border-style: dotted none none;
    width: 5%;
    border-color: gray;
    border-width: 5px;
}
h1 {
    color: #161313;
    /* letter-spacing: 10px;
    text-shadow: 1.7px 1.7px;
    font-variant: small-caps; */
    font-family: 'Vollkorn', serif;
    text-align: justify; 
}
h3 {
    color: #646FD4;
}

p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: -0.04em;
    color: #161313;
}